div.textoAporte{
    font-size:20px;
    overflow: auto;
    padding-left: 60px;
    text-align: left;
    
}

hr.EliminarEspecie {
    border-top: 1px solid rgb(255, 255, 255);
    width: 500px;
}

h5.EliminarEspecie {
    padding-left: 90px ;
    width: 500px;
}

div.center_EliminarAporte{
    margin: auto;
    width: 80%;
    padding: 20px;
    overflow: auto;
  }